.btn-primary{
    background-color: #28C7FA ;
    color: white;
}
.btn{
    color: white;
}
.btn-outline-danger{
    background-color: #FF304F;
}
.btn-success{
    background-color: #55e774;
    color: #28C7FA;
}
.twhite{
    color: white;
}
.checkout-form{
    background-color: #0a0e1f7c;
    border-radius: 10px;
    border-style: double;
}