.detail-bg{
    
    width: 100%;
    height: 100vh;
    background: linear-gradient(to top, #4cb8d3, #16354b);
}
.small-detail{
    color: white;
    font-size: 20px;
}
.detail-price{
    color: white;
    font-size: 30px;
    background-color: #dc143c59;
    border-radius: 5px;
}