.cart-widget {
    color: white;
    font-size: 30px;
    visibility: hidden;
    opacity: 0;
    transition: .3s ease-in-out all;
}

.cart-widget-active {
    visibility: visible;
    opacity: 1;
}

.cantidad{
    font-size: 18px;
    text-decoration: none;
    background-color: #b61e34;
    border-radius: 50%;

}
.deco{
    text-decoration: none;
}