body, html{
    margin: 0;
}
.inside-style{
    background-color:  rgba(32, 30, 30, 0.233);
    padding: 1200px;
    position: absolute;

}
.outside-style{
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to top, #070707, transparent);
}
.main-bg{
    background: linear-gradient(to top, #4cb8d3, #16354b);
}