.cards{
    background-color: #F4DEED;
    border-color: #853E7F;
    border-radius: 5%;
    border-style: dashed;
    width: 250px;
    height: 250px;

}
.pkm-img{
    width: 40%;
    height: auto;
}
.btn-outline-primary{
    border-color: #853E7F;
    border-style: dashed;
}
.btn{
    color: #853E7F;
}
.tnone{
    text-decoration: none;
}