.navBar{
    background: linear-gradient(to bottom, #e70c0c, #00000080), url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR5RxHjOD0fZ2gqOuE_lzLlCII4irZh91VM9w&usqp=CAU");
}

.links{
    list-style: none;
    font-size: 20px;
    text-decoration: none;

}

.t-white{
    color: white;
    border-radius: 5%;

}
.desplegable{
    color: black;
    border-radius: 5%;
}
.logo-shop{
    width: 200px;
    height: auto;
}
.logo-shop:hover{
    -webkit-transform:scale(1.25);
    -moz-transform:scale(1.25);
    -ms-transform:scale(1.25);
    -o-transform:scale(1.25);
    transform:scale(1.25);
    transition-duration: 500ms;
}