.cart-padding{
    margin-left: 62%;
    border-style: none;
    background-color: transparent;
}
.cart-notification{
    font-size: 12px;
    background-color: #cc0d3c;
    border-radius: 50%;
    width: 3vh;
    height: 3vh;
    color: #F9FAFB;
}